<div class="container myHome" style="margin-top:140px;margin-bottom:150px;margin-left:350px;margin-right:350px;">
	<div class="jumbotron text-center">
		<h1 style="margin-bottom:40px;"><span class="fa fa-home" aria-hidden="true"></span>LimBer</h1>
		<p style="margin-bottom:0;display:inline-block;">Register:</p>
		<a ng-href="/#register" class="btn btn-default" style="margin-bottom:15px;"><span class="fa fa-user"></span> Register</a>
		<p style="margin-bottom:0;">Or Login with:</p>
		<a ng-href="/#locallogin" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
		<div ng-show="logInLogOutSuccessMsg" class="alert alert-success" role="alert" style="margin-top:10px;padding: 7px;">
		  <button type="button" class="close" ng-click="dismissMsg()" aria-label="Close" style="margin-top: -3px;right:0;"><span aria-hidden="true">&times;</span></button>
		  {{logInLogOutSuccessMsg}}
		</div>
		<div ng-show="logInLogOutErrorMsg" class="alert alert-danger" role="alert" style="margin-top:10px;padding: 7px;">
		  <button type="button" class="close" ng-click="dismissMsg()" aria-label="Close" style="margin-top: -3px;right:0;"><span aria-hidden="true">&times;</span></button>
		  {{logInLogOutErrorMsg}}
		</div>

	</div>
</div>
