<div class="container well" style="margin-top:150px;margin-bottom:150px;margin-left:450px;margin-right:450px;">
<form class="form-auth" ng-submit="passportLogin()">
	<h2>Log In</h2>
	<div id="errorDiv" class="alert alert-danger" role="alert" style="margin-top:10px;padding: 7px; display:none;">
		<button type="button" class="close" ng-click="logInErrorMsg=''" aria-label="Close" style="margin-top: -3px;right:0;"><span aria-hidden="true">&times;</span></button>
		{{logInErrorMsg}}
	</div>
	<input type="email" ng-model="user.email" placeholder="Email Id" class="form-control"><br>
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
	<input type="submit" value="Log in" class="btn btn-success" />

	<button type="button" ng-click="redirectTo('login')" class="btn btn-primary">Go back</button>
</form>
</div>
