<div class = "cardsPage container" ng-init="loadCards()">
 <div class="showNewCards" ng-show = "cards.length == 0">
   <center>All your Stories at one place</center>
 </div>

   <div class="row ">
   </div>


   <h1 ng-hide="cards.length==0" align="center">My Stories</h1>
   <div ng-repeat="(key,value) in cards|groupBy:'sprintId._id'" ng-init="count=0" >
     <br>


     <a ng-click="gotoProject()">{{value[0].projectName}} </a>| <a ui-sref="release({ prId : value[0].projectId, releaseID: value[0].releaseId})">{{value[0].releaseName}}</a> | <a ui-sref="sprint({ prId : value[0].projectId, releaseID: value[0].releaseId,sprintID:key})">{{value[0].sprintId.name}}</a>

     <p ng-bind="startDate"></p>
     <div ng-repeat="card in value" >
       <div class="boxStory" ui-sref=".story({sprintID: value[0].sprintId._id,storyID:value[0].stories._id})">
         {{card.stories.heading}}{{card.startDate}}{{card.endDate}}
         <div class="storyAttributes">
           <span ng-show="story.indicators.descriptionStatus"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
           <span ng-show="story.indicators.commentCount != 0"><i class="fa fa-comment-o" aria-hidden="true"></i> {{card.stories.indicators.commentCount}}</span>
           <span ng-show="story.indicators.attachmentsCount != 0"><i class="fa fa-paperclip" aria-hidden="true"></i> {{card.stories.indicators.attachmentsCount}}</span>
           <span ng-show="story.indicators.chklstItmsCnt != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{card.stories.indicators.chklstItmsChkdCnt}} / {{card.stories.indicators.chklstItmsCnt}}</span>
           <span ng-hide="value[0].stories.memberList!==undefined">
             <div >
               <img ng-src={{member.photo}} class="pic-avatar" ng-hide="member.photo == undefined" />
               <div class="avatar-ng" ng-show="member.photo == undefined">
                 <ng-letter-avatar data="{{member.fullName}}" charCount=2 shape="round" height="30px" width="30px" fontSize="25px"></ng-letter-avatar>
               </div>
               &nbsp;
             </div>
           </span>
         </div>
       </div> <!-- Box story div ends here-->
     </div>
     <hr style="clear:both">
   </div><!-- cards  div ends here-->

 </div>
