<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="stylesheets/lib/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/lib/style1.css" rel="stylesheet">
    <link href="stylesheets/lib/bootstrap-glyphicons.css" rel="stylesheet">

    <!--  CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <title>fragile</title>
  </head>
  <body ng-app="frAgile">
    Testing
    <div>

    <div ng-view>
    </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
    <!-- <script type="text/javascript" src='lib/angular.min.js'></script>
    <script type="text/javascript" src='lib/angular-route.min.js'></script>
    <script type="text/javascript" src="lib/angular-cookies.min.js"></script> -->
    <script src="app.js"></script>
    <script type="text/javascript" src='login/routeProvider.js'></script>
    <script src="/login/authController.js"></script>
    <!-- <script src="/components/project/project.service.js"></script>
    <script src="/components/project/project.route.js"></script>
    <script src="/components/project/project.controller.js"></script>
    <script src="/components/sprint/sprint.service.js"></script>
    <script src="/components/sprint/sprint.route.js"></script>
    <script src="/components/sprint/sprint.controller.js"></script>
    <script src="/components/release/release.service.js"></script>
    <script src="/components/release/release.route.js"></script>
    <script src="/components/release/release.controller.js"></script>
    <script src="/components/project/project.modal.controller.js"></script> -->

    <!-- Bootstrap JS -->
    <script src="javascripts/lib/bootstrap.min.js"></script>
  </body>
</html>
