body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}
h4 {
  font-size: 17px;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #C0392B;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.top-header {
  padding: 0;
}
.loadingScreen {
  position: fixed;
  background-color: #EEEEEE;
  height: 100%;
  margin: -10px;
  width: 100%;
  z-index: 10;
}
.loadingScreen span {
  position: fixed;
  top: 50%;
  left: 50%;
}
#invisible {
  display: none;
}
.box {
  cursor: pointer;
  margin: 5px 10px 5px 0px;
  width: 270px;
  height: 85px;
  border-radius: 5px;
  background-color: #52B3D9;
  padding: 5px 5px 5px 10px;
  line-height: 25px;
  float: left;
  color: #34495E;
}
.box:hover {
  box-shadow: inset 0px 0px 20px #446CB3;
  border-radius: 5px;
}
.boxHeading {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
}
.editRelease {
  box-shadow: 0px 0px 15px rgba(99, 97, 97, 0.82);
  z-index: 101;
  position: absolute;
  height: 161px;
  width: 289px;
  background-color: rgb(255, 253, 236);
  margin-top: -101px;
  margin-left: -10px;
  border-radius: 4px;
}
.editRelease textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 68px;
  min-height: 68px;
}
.editRelease .btn.btn-success {
  /*margin-top: -9px;*/
  background-color: #6BE064;
  margin-left: 227px;
  color: #FFFFFF;
  font-weight: bold;
}
.editRelease #inputName, .editRelease #inputDate, .editRelease #inputDesc {
  background-color: rgba(0, 0, 0, 0.03);
  border: rgba(0, 0, 0, 0.03);
}
.frm {
  margin-top: 8px;
  margin-bottom: -3px;
  overflow: auto;
}
.frm .btnAdd {
  padding-right: 0px;
}
.parentInner {
  min-height: 20px;
}
.hideEdit {
  height: 0px;
  width: 0px;
  font-size: 0px;
  overflow: hidden;
}
.backgroundBlack {
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.4;
}
.hideEdit.backgroundBlack {
  width: 0px;
  height: 0px;
}
.showAdd {
  margin: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  /* color: grey; */
  opacity: 0.7;
  cursor: pointer;
}
.showAddIcon {}
.hideAdd {
  font-size: 0px;
  width: 0px;
  height: 0px;
  overflow: hidden;
  margin: 0px;
}
.showAddDetails .btn-link:hover {
  text-decoration: none;
  color: #EEEEEE;
}
.showAddDetails .btnAdd {
  margin: 7px 5px;
  float: left;
  font-weight: bolder;
}
.showAddDetails .btn-link {
  color: white;
}
.sprintDiv textarea.form-control {
  margin-left: 5px;
  max-width: 96%;
  min-width: 96%;
  max-height: 100px;
}
.showSlide .slideMenuBox {
  width: 85px;
  background-color: #2C3E50;
  position: absolute;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  margin-left: 175px;
  padding-left: 8px;
  margin-top: -74px;
  color: #52B3D9;
  letter-spacing: 5px;
  font-size: 13px;
  opacity: 1;
}
.hideSlide .slideMenuBox {
  width: 0px;
  height: 0px;
  font-size: 0px;
  opacity: 1;
}
.dummy {
  position: absolute;
  margin-top: -80px;
  margin-left: -10px;
  width: 270px;
  height: 85px;
}
.slideMenuBox .fa:hover {
  color: #C5EFF7;
}
.projectPage .btn-success {
  margin: 15px 0px;
  font-size: 16px;
  margin-left: 15px;
}
.warningModal {
  color: #D64541;
  margin-left: 100px;
  padding: 0px;
  margin-top: -16px;
  font-size: 11px;
  margin-bottom: 3px;
}
.heading {
  position: fixed;
  top: 30px;
  width: 100%;
}
.sprintDiv {
  /*margin-top: 20px;
  overflow: hidden;*/
  margin: 10px 10px;
}
.sprint-wrapper {
  position: absolute;
  top: 150px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-right: 10px;
  overflow-x: auto;
}
.listHead {
  color: white;
  margin: 4px 0px 0px 11px;
  font-size: 16px;
  font-weight: bold;
}
.child {
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 3px;
  margin-top: 20px;
  width: 259px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  padding-bottom: 7px;
}
.btn-back {
  float: right;
  position: relative;
  top: -20px;
}
.drag-dummy {
  background-color: grey;
  opacity: 0.3;
  display: none;
}
.being-dropped .drag-dummy {
  display: block;
}
.navbar {
  margin-bottom: 0px;
}
.sprintDiv .ui-draggable-dragging {
  opacity: 1;
  -ms-transform: rotate(5deg);
  /* IE 9 */
  -webkit-transform: rotate(5deg);
  /* Safari */
  transform: rotate(5deg);
  box-shadow: inset 0px 0px 10px #BBBBBB;
}
.sprintDiv .being-dragged {
  opacity: 0.4;
}
.sprintDiv .being-dropped {
  outline: -webkit-focus-ring-color auto 5px;
}
.story_Name {
  padding: 6px 12px;
  word-wrap: break-word;
  width: 100%;
  float: left;
  min-height: 40px;
  line-height: 20px;
  color: #4d4d4d;
}
.showSlide .deleteStory {
  position: absolute;
  margin-left: 249px;
  margin-top: -3px;
  opacity: 0.8;
}
.hideSlide .deleteStory {
  position: absolute;
  margin-left: 249px;
  margin-top: -4px;
  opacity: 0;
  width: 0px;
  height: 0px;
  font-size: 0px;
}
.parent {
  overflow: auto;
  overflow-x: hidden;
  float: left;
  max-height: 520px;
  min-height: 60px;
  /*background-color: #F0AD4E;*/
  background-color: #36D7B7;
  border-radius: 4px;
  width: 272px;
  margin: 3px;
}
.addMore {
  background-color: #EEEEEE;
  color: #888888;
  font-size: 18px;
  top: 50%;
  font-weight: bold;
}
.addMore:hover {
  box-shadow: inset 0px 0px 20px #BBBBBB;
}
h4 {
  margin-top: 25px;
  margin-bottom: 3px;
}
h4 small {
  color: grey;
  margin-left: 10px;
  font-weight: lighter;
}
.container {
  overflow: hidden;
}
.addNewProject .fa {
  font-size: 20px;
}
.Releasable {
  background-color: #36D7B7;
}
.backbug {
  background-color: #EF4836;
}
.crossBtn {
  font-size: 17px;
  position: absolute;
  margin-left: 260px;
  margin-top: -4px;
}
.crossBtn:hover {
  margin-top: -5px;
  margin-left: 259px;
  font-size: 19px;
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
.Releasable .crossBtn {
  z-index: -1;
  font-size: 0px;
}

/*Activity Bar CSS*/

.menu-bar {
  width: 339px;
  position: absolute;
  right: 5px;
  overflow: hidden;
  box-shadow: 0 5px 9px rgba(0, 0, 0, .5);
  /*display: none;*/
  margin-top: 52px;
  margin-bottom: 0px;
  bottom: 0;
  top: 0px;
}
#activities {
  padding: 0px 0px;
}

/*CSS for scrollbar*/

.activity-bar.panel {
  border-radius: 8px;
}
.menu-wrap {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 0;
  overflow: auto;
}
.menu-wrap h3 {
  color: #8c8c8c;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
}
.settings-members {
  padding: 10px;
}
.add-members {
  clear: both;
  padding: 10px;
  border-top: 1px solid #eee;
}
.add-members .btn-add {
  width: 100%
}
.add-members .txt-add-members {
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #e2e4e6;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
  display: block;
  margin-bottom: 9pt;
  min-height: 34px;
  padding: 7px;
  width: 80%;
  float: left;
  margin-right: 2px;
}
.add-members .desc {
  clear: both;
}
.activity-wrap {
  clear: both;
  border-top: 1px solid #eee;
}
.activity-items {
  padding: 5px 10px;
  min-height: 55px;
  /*border-bottom: 1px solid #e2e4e6;*/
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 18px;
}
.activity-items:after {
  content: "";
  display: block;
  clear: both;
}
.activity-comment-content {
  padding: 5px 5px;
  background-color: lightgrey;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .23);
  overflow: hidden;
  cursor: pointer;
  margin-top: 5px;
  word-break: break-all;
}
.activity-item-content {
  width: 80%;
  float: left;
}
.menu-panel-heading {
  line-height: 20px;
  font: 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #246EB9 !important;
  color: white !important;
}
.activity-label {
  position: relative;
  left: 10px;
}
.menu-bar-avatar {
  width: 30px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.activity-username, .messages-username {
  font-weight: bold;
  cursor: pointer;
}
.activity-more {
  text-align: center;
}
.activity-time {
  color: #8c8c8c;
  font-size: 9pt;
  line-height: 18px;
  white-space: nowrap;
  margin-left: 7px;
}
.activity-items a {
  color: #4d4d4d;
  text-decoration: none;
}
.activity-object-link, .activity-object-link:hover {
  text-decoration: underline !important;
}
.activity-object-link-disabled, .activity-object-link-disabled:hover {
  cursor: text;
}
.btn-section {
  width: 99px;
}

/*Story CSS Starts*/

.storyHeader {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}
.push-right {
  float: right;
}
.story-label-yellow {
  background-color: #F4D03F;
}
.story-label-green {
  background-color: #26A65B;
}
.story-label-blue {
  background-color: #446CB3;
}
.story-label-purple {
  background-color: #663399;
}
.story-label-red {
  background-color: #D91E18;
}
.story-label-orange {
  background-color: #F89406;
}

/*CSS for sub Modals inside story*/

#modal-members {
  max-height: calc(50vh - 200px);
  margin-top: 10px;
  overflow: auto;
}
.modal-members-list {
  padding-left: 0;
  margin-bottom: 10px;
  padding-right: 5px;
}

/*Add below class during mouse pointing on label selection*/

.story-label-select-active {
  padding-right: 2pc;
  box-shadow: -8px 0 #999966;
}
.story-label-select {
  cursor: pointer;
  min-height: 18px;
  border-radius: 3px;
  margin: 0 0 4px;
}

/*New*/

.story-label-edit-button {
  border-radius: 3px;
  float: right;
  padding: 8px;
}
.story-label-design {
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  margin-right: 4px;
  margin-bottom: 5px;
  padding: 3px 8px;
  max-width: 100%;
  min-width: 8px;
  overflow: ellipsis;
  height: 18px;
  vertical-align: bottom;
}

/*This class is used for labels display*/

.story-label-selectable {
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 5px;
  width: 212px;
  min-height: 27px;
  padding: 5px;
}
.card-activity-wrap {
  width: 339px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  border-left: 1px solid black;
}
.card-activity-wrap h3 {
  color: #8c8c8c;
  text-align: center
}

/*This class is used for labels template display*/

.story-label-template-selectable {
  border-radius: 13px;
  cursor: pointer;
  margin: 0;
  margin-bottom: 5px;
  width: 50px;
  min-height: 42px;
  padding: 5px;
}
.story-active {
  padding-right: 32px
}
.story-label-selectable-icon {
  position: absolute;
  top: 8px;
  right: -20px;
}

/*Story CSS Ends*/
