<div ng-init="getSprints()">
  <div id="{{release._id}}" class="container">
    <h4>{{release.name}}<small>{{release.description}}</small></h3>
        <div class="boxContainer" ng-repeat= "spr in sprints">
          <div class="box"  id="{{spr._id}}" ui-sref="sprint({sprintID: spr._id})">
            <div class="boxHeading">
              {{spr.name}}
            </div>
            <div class="desc">
              {{spr.description}}
            </div>
            <div class="date" >
              From {{spr.startDate | date:'dd-MM-yyyy'}} to {{spr.endDate | date:'dd-MM-yyyy'}}
            </div>
          </div>
          <!-- <div class="slideMenuBox" ng-mouseover = "showSlideFun($event)" ng-mouseleave ="hideSlideFun($event)">
            <i class="fa fa-archive" ng-click = "archiveFun(rel._id)"></i>
            <i class="fa fa-pencil" ng-click = "editFun(rel._id)"></i>
            <i class="fa fa-star" ng-click = "starFun(rel._id)"></i>
          </div> -->
        </div>
        <div class="box addMore">
            Add Sprint...
        </div>
      </div>
</div>
