<div ng-init="getSprints()">
  <div id="{{release.id}}" class="container">
    <div class="row">

      <h4>{{release.name}}<small>{{release.description}}</small></h3>
        <div class="boxContainer" ng-repeat= "spr in sprints">
          <div class="box"  ng-class="{'showSlide':hovering,'hideSlide':!hovering} " ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" id="{{spr._id}}" >
            <div class="boxHeading">
              {{spr.name}}
            </div>
            <div class="desc">
              {{spr.description}}
            </div>
            <div class="date" >
              {{spr.startDate | date:'dd-MMM-yyyy'}} to {{spr.endDate | date:'dd-MMM-yyyy'}}
            </div>
            <div class="dummy" ui-sref="sprint({ prId : projectID, releaseID:release.id, sprintID: spr._id})">
            </div>
            <div class="slideMenuBox">
              <i class="fa fa-archive" ng-click="archiveFun(release.id, spr._id)"></i>
              <i class="fa fa-pencil" ng-click = "showEdit=true; newSprintName= spr.name; newSprintDetails = spr.description; newSprintDate = spr.endDate"></i>
              <i class="fa fa-star" ng-click="starFun(release.id)"></i>
            </div>
            <div class="backgroundBlack" ng-class="{'showEdit':showEdit,'hideEdit':!showEdit}" ng-click = "showEdit=false">

            </div>
          <form class="editRelease" ng-class="{'showEdit':showEdit,'hideEdit':!showEdit}">
            <div class="form-group frm">
              <label class="col-sm-4" for="releaseName">Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputName" ng-model = "newSprintName">
              </div>
            </div>
            <div class="form-group frm">
              <label class="col-sm-4" for="releaseDesc">Name</label>
              <div class="col-sm-8">
                <textarea class="form-control" id="inputDesc" ng-model = "newSprintDetails"/>
              </div>
            </div>
            <div class="form-group frm">
              <label class="col-sm-4" for="releaseDate">Release Date</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="inputDate" ng-model = "newSprintDate" date-parser="dd.MM.yyyy">
              </div>
              {{newSprintDate}}
            </div>
            <button type="button" class="btn btn-success">Save</button>
            <!-- <button type="button" ng-click = "showEdit=false">X</button> -->
          </form>
          </div>
        </div>
        <div class="box addMore" ng-click="openModal()">
            Add Sprint...
        </div>
      </div>

        <div class="row">
          <button class="btn btn-success" ng-click="backClick()">Back</button>
        </div>
      </div>
</div>

<div ng-include="'components/activity/activity.view.html'"></div>
