<divs class = "projectPage container">
  <div class="showNewProject" ng-show = "projects.length == 0">
    <center>Awesome... You are good to go</center>
  </div>
  <div class="pageHeading">
    Project
  </div>
  <div ng-repeat="project in projects" class="main">
      <div id="{{project._id}}" class = "container">
        <h4>{{project.name}}<small>{{project.description}}</small></h4>
          <div class="boxContainer" ng-repeat= "release in project.release" >
            <div class="box" id="{{release._id}}" ng-class="{'showSlide':hovering,'hideSlide':!hovering} "   ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-click="setProject(project._id,project.name, release._id,release.name,release.description)">
            <div class="slideMenuBox">
              <i class="fa fa-trash" ng-click = "archiveFun(project._id, release._id,project.name,release.name)"></i>
              <i class="fa fa-pencil" ng-click = "showEdit=true; newReleaseName= release.name; newReleaseDetails = release.description; newReleaseDate=release.releaseDate"></i>
              <i class="fa fa-star" ng-click = "starFun(release._id)"></i>
            </div>
              <div class="boxHeading">
                {{release.name}}
              </div>
              <div class="desc">
                {{release.description | limitTo:longDescLimit }}<span ng-hide="release.description.length < longDescLimit || release.description ==undefined">
                  ...
                </span>&nbsp;
              </div>
              <div class="date">
                 {{release.creationDate | date:'dd-MMM-yyyy'}} to {{release.releaseDate | date:'dd-MMM-yyyy'}}
              </div>
              <!-- <div class="dummy" ui-sref="sprint({ prId : '57026055772a712a164d70bb', sprintID: '57026bfd140731cc1810b5c0'})"> -->
              <div class="dummy" ui-sref="release({ prId : project._id, releaseID: release._id})">
              </div>

                <div class="backgroundBlack" ng-class="{'showEdit':showEdit,'hideEdit':!showEdit}" ng-click = "showEdit=false">

                </div>
              <form class="editRelease" ng-class="{'showEdit':showEdit,'hideEdit':!showEdit}">
                <div class="form-group frm">
                  <label class="col-sm-4" for="releaseName">Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputName" ng-model = "newReleaseName">
                  </div>
                </div>
                <div class="form-group frm">
                  <label class="col-sm-4" for="releaseDesc">Name</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="inputDesc" ng-model = "newReleaseDetails"/>
                  </div>
                </div>
                <div class="form-group frm">
                  <label class="col-sm-4" for="releaseDate">Release Date</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="inputDate" value = "{{release.releaseDate | date:'yyyy-MM-dd'}}" ng-model = "newReleaseDate" >
                  </div>
                </div>
                <button type="button" class="btn btn-success" ng-click="editRelease(newReleaseName,newReleaseDetails,newReleaseDate,release.creationDate,project._id,release._id,release.name)? showEdit=false : showEdit=true"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

                <!-- <button type="button" ng-click = "showEdit=false">X</button> -->
              </form>
            </div>
          </div>
        <div class="box addMore" ng-click = "setDefaultForRelease(project._id)" data-toggle="modal" data-target="#myModal">
            Add Release...
        </div>
      </div>
      <hr>
    </div>
    <div class="btn btn-success addProject" ng-click = "setDefaultForProject(project._id)" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-plus"></i>  Add New Project
    </div>
</div>
