<div ng-init="loadProjects()" class = "projectPage container">
  <div ng-repeat="project in projects" class="main">
      <div id="{{project._id}}" class = "container">
        <h4>{{project.name}}<small>{{project.description}}</small></h4>
          <div class="boxContainer" ng-repeat= "release in project.release" >
            <div class="box" id="{{release._id}}" ng-class="{'showSlide':hovering,'hideSlide':!hovering} "   ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-click="setProject(project._id,project.name, release._id,release.name,release.description)">
              <div class="boxHeading">
                {{release.name}}
              </div>
              <div class="desc">
                {{release.description | limitTo:longDescLimit }}<span ng-hide="release.description.length < longDescLimit ">
                  ...
                </span>
              </div>
              <!-- <span am-time-ago="release.creationDate"></span> -->
              <div class="date">
                 {{release.creationDate | date:'dd-MMM-yyyy'}} to {{release.releaseDate | date:'dd-MMM-yyyy'}}
              </div>
              <div class="dummy" ui-sref="release({ prId : project._id, releaseID: release._id})">
              </div>
              <div class="slideMenuBox">
                <i class="fa fa-archive" ng-click = "archiveFun(project._id, release._id)"></i>
                <i class="fa fa-pencil" ng-click = "editFun(release._id)"></i>
                <i class="fa fa-star" ng-click = "starFun(release._id)"></i>
              </div>
            </div>
          </div>
        <div class="box addMore" ng-click = "setDefaultForRelease(project._id)" data-toggle="modal" data-target="#myModal">
            Add Release...
        </div>
      </div>
    </div>
    <div class="btn btn-success" ng-click = "setDefaultForProject(project._id)" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-plus"></i>  Add New Project
    </div>
</div>
