<!-- Modal Header -->
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times-circle"></i></button>
  <h4 class="modal-title">Copy Story</h4>
</div>

<!-- Modal body -->
<div class="modal-body" ng-init="initCopyMoveStory(false)">
  <div>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3"><label>To</label>
        </div>
        <div class="col-md-9">
          <select class="form-control"  ng-model="moveTo.selectedOption" ng-options="list.name for list in moveTo.listType track by list.Id" ng-change="moveCopyDestinationChange()">
          </select>
        </div>

      </div>
      <div class="form-group">
        <div class="col-md-3"><label>Release </label></div>
        <div class="col-md-9">
          <select class="form-control" ng-model="storyMoveData.release.selectedRelease" ng-options="release.name for release in storyMoveData.release track by release._id" ng-disabled="moveTo.checkDisabled" ng-change="copySelectionChange()">
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3"><label>Sprint </label></div>
        <div class="col-md-9">
          <select class="form-control" ng-model="storyMoveData.release.selectedSprints" ng-options="sprint.name for sprint in storyMoveData.release.selectedRelease.sprints track by sprint._id" ng-disabled="moveTo.checkDisabled" ng-change="copySelectionChange()">
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3"><label>List </label></div>
        <div class="col-md-9">
          <select class="form-control" ng-model="storyMoveData.release.selectedList" ng-options="lists.listName for lists in storyMoveData.release.selectedSprints.list track by lists._id" ng-disabled="moveTo.checkDisabled" ng-change="copySelectionChange()">
          </select>
        </div>
      </div>
    </form>
  </div>
  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="moveCopyButtonDisabled" ng-click="copyStory();cancel()">Copy</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">Cancel</button>
  </div>
