.buttonid{
width:300px;
height:150px;
}
.div_header_green {
  background: #5CB85C;
  height:50px;
  background-image: -webkit-linear-gradient(top, #5CB85C, #5CB85C);
  background-image: -moz-linear-gradient(top, #5CB85C, #5CB85C);
  background-image: -ms-linear-gradient(top, #5CB85C, #5CB85C);
  background-image: -o-linear-gradient(top, #5CB85C, #5CB85C);
  background-image: linear-gradient(to bottom, #5CB85C, #5CB85C);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  margin:-15px 0px 0px -15px;
  text-decoration: none;
}
.div_header_orange {
  background: #F0AD4E;
  height:50px;
  background-image: -webkit-linear-gradient(top, #F0AD4E, #F0AD4E);
  background-image: -moz-linear-gradient(top, #F0AD4E, #F0AD4E);
  background-image: -ms-linear-gradient(top, #F0AD4E, #F0AD4E);
  background-image: -o-linear-gradient(top, #F0AD4E, #F0AD4E);
  background-image: linear-gradient(to bottom, #F0AD4E, #F0AD4E);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  margin:-15px 0px 0px -15px;
  text-decoration: none;
}
.div_header_red {
  background: #EC644B;
  height:40px;
  background-image: -webkit-linear-gradient(top, #EC644B, #EC644B);
  background-image: -moz-linear-gradient(top, #EC644B, #EC644B);
  background-image: -ms-linear-gradient(top, #EC644B, #EC644B);
  background-image: -o-linear-gradient(top, #EC644B, #EC644B);
  background-image: linear-gradient(to bottom, #EC644B, #EC644B);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  margin:-15px 0px 0px -15px;
  text-decoration: none;
}
.add_file{
  border:1px solid #616261; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:20px;font-family:arial, helvetica, sans-serif; padding: 5px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
  background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.add_file:hover{
  border:1px solid #4a4b4a;
  background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
  background-image: -webkit-linear-gradient(top, #646464, #282828);
  background-image: -moz-linear-gradient(top, #646464, #282828);
  background-image: -ms-linear-gradient(top, #646464, #282828);
  background-image: -o-linear-gradient(top, #646464, #282828);
  background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}
.member_button{
  border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
  background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
  background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
  background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
  background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
  background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

.member_button:hover{
  border:1px solid #1090c3;
  background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
  background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}
.div_activity{

  border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
  background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
  background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.div_activity:hover{
  border:1px solid #1c5675;
  background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
  background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
  background-image: -moz-linear-gradient(top, #26759e, #133d5b);
  background-image: -ms-linear-gradient(top, #26759e, #133d5b);
  background-image: -o-linear-gradient(top, #26759e, #133d5b);
  background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}
.div_activity_body{
  border:1px solid #cacaca;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size:12px;
  font-family:arial, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration:none;
  font-weight:bold;
  color: #000000;
  background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
  background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
  background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
  background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
  background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
  background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}
.fa_text{
  color:white;
  font-size:20px;
  padding-top:10px;
  padding-left:30px;
}
.div_padding{
  padding-top:20px;
}
.div_margin{
  margin-top:20px;
}
.headingBox{
  overflow: hidden;
}
#chartBtn{
  margin-right: 40px;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow:none;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  -webkit-box-shadow: inset 1px 1px 6px #333;
}
.cssmodal-dialog{
  width:80%;
}
.cssmodal-body{
  height:651px;
  padding:0px;
}
.csscol-sm-12{
  padding:0px 0px 0px 0px;
}
.css_panel{
  padding:15px 0px 0px 15px;
}
.csspanel_body{
  height:600px;
  margin:0px;
  overflow:auto;
  padding-top:20px;
}
.cssstory_label{
  border-bottom:2px solid navy;
  border-bottom-style:dotted
}
.cssattachment_list{
  height:100px !important;
  width:100px !important;
  margin-right:10px;
}
.csslabel_list{
  height:40px !important;
  width:40px !important;
  margin-right:10px;
}





body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
div{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently*/
}
.child {
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 3px;
  margin-top: 20px;
  width: 259px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  padding-bottom: 7px;
}

.addStory{
  margin: 10px 0px 10px 10px;
  cursor: pointer;
}
.disable{
  display: none;
}
.att{
  font-size: 12px;
  float: left;
  width: 32px;
  margin-top: 5px;
  padding-left: 3px;
  margin-left: 9px;
}
.story_Name{
  width: 100%;
  padding-left: 6px;
  float: left;
  padding-top: 2px;
  font-weight: bold;
}

.test{
  background-color: #89C4F4;
  height: 500px;
  width:2200px;
}
.memlist.att {
    background-color: #336E7B;
    color: white;
    margin-left: 5px;
    /* padding-left: 5px; */
    text-align: center;
    width: 35px;
    height: 22px;
    border-radius: 3px;
    padding-top: 3px;
}
.parent {
  overflow: auto;
  overflow-x: hidden;
  float: left;
  max-height: 520px;
  background-color: #F0AD4E;
  border-radius: 4px;
  width: 272px;
  margin: 3px;
}
#backlog, #Picked{
  background-color: #EC644B;
}
#Releasable{
  background-color: #5CB85C;
}
.sorting{
  overflow: auto;
  max-height: 392px;
  min-height: 35px;
}
.releases{
  width: 100%;
}
.sprintDiv {
  width:  1670px;
  margin-top: 50px;
  overflow: hidden;
}
.listHead{
  color: white;
  margin: 4px 0px 0px 11px;
  font-size: 18px;
  font-weight: bold;
}
.sprints ul, .projects ul, .releases ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.innerClass{
  width: 100%;
  overflow: hidden;
}
.test-placeholder {
    border:2px solid #67809F;
    visibility:visible;
    border-radius: 3px;
    margin-top: 20px;
    width: 300px;
    height: 65px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color:#67809F;
}
.sprints, .projects, .releases{
  cursor: pointer;
  margin: 5px;
  width: 270px;
  height: 85px;
  border-radius: 5px;
  background-color: #52B3D9;
  padding: 5px 5px 5px 10px;
  line-height: 25px;
  float: left;
  color: #34495E;
}
.addmore{
  background-color: #EEEEEE;
  color: #666666;
}
.boxHeading{
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;

}
.addStoryBox .submitButton{
  width: 80px;
  height: 30px;
  padding-top: 5px;
}
.addStoryBox .cancelButton{
  width: 20px;
  padding-left: 3px;
  background-color: #EC644B;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.addStoryBox .cancelButton:hover{
  text-shadow: 0 0 3px;
}
h3 small{
  color: grey;
  margin-left: 5px;
}
.addStoryBox .cancelButton, .addStoryBox .submitButton{
  border: 0px;
  cursor: pointer;
  margin: 3px 5px 7px 5px;
}
.addStoryBox .addStoryText {
  margin-left: 5px;
  width: 262px;
  height: 50px;
  font-size: 14px;
  padding-left: 5px;
  margin-top: 4px;
  margin-bottom: 0px;
}
.att span{
  margin-right: 3px
}
.release {
    margin-top: 50px;
}
.headingBox{
  margin-left: 20px;

}

.heading{
  position: fixed;
  top:50px;
  width: 100%;
}
/*Nav Bar*/

.navbar{
  background-color: #5C97BF;
}
.navbar-brand {
  padding: 0 0;
}

#home{
  font-size: 27px;
  margin-top: 5px;
  padding-left: 40px;
}
#showMenu{
  color: white;
  padding-right: 10px;
  font-size: 20px;
}
#showMenu:hover{
  text-shadow: 0 0 3px;
}


.activity-bar, .filter-bar {
  width: 320px;
  position: fixed;
  right: 0px;
  overflow: hidden;
  box-shadow: 0 5px 9px rgba(0, 0, 0, .5);
  display: none;
}
.activity-bar {
  margin-top:55px;
  margin-bottom: 0px;
  bottom: 0;
  top: 0px;
}
.filter-bar {
  bottom: 0px;
  top: 85%;
  box-shadow: 0 5px 9px rgba(0, 0, 0, .5);
  background-color: #F5F5F5;
}
.filter-bar .row {
  margin-top: 10px;
}
#activities {
  padding: 0px 0px;
}

/*CSS for scrollbar*/

.activities-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  background-color: red;
}
.activities-wrap::-webkit-scrollbar {
  width: 10px;
  //background-color: red;
}
.activities-wrap::-webkit-scrollbar-thumb {
  border-radius: 9px;
  -webkit-box-shadow: inset 0 0 6px red;
  //background-color: red;
}

.activity-bar.panel{
  border-radius: 0px;
  z-index: 100;
}
.activities-wrap {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0px;
  left: 0;
  overflow: auto;
}
.activity-items {
  padding: 10px 10px;
  min-height: 55px;
  border-bottom: 1px solid #e2e4e6;
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 18px;
}
.activity-items:after {
  content: "";
  display: block;
  clear: both;
}
.activity-comment-content {
  padding: 5px 5px;
  background-color: lightgrey;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .23);
  overflow: hidden;
  cursor: pointer;
  margin-top: 5px;
  word-break: break-all;
}
.activity-item-content {
  width: 85%;
  float: left;
}
.activity-panel-heading {
  line-height: 20px;
  font: 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
}
.activity-label {
  position: relative;
  left: 10px;
}
.activity-bar-avatar {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.activity-username {
  font-weight: bold;
  cursor: pointer;
}
.activity-items a {
  color: #4d4d4d;
  text-decoration: none;
}
.activity-object-link, .activity-object-link:hover {
  text-decoration: underline !important;
}
.activity-object-link-disabled, .activity-object-link-disabled:hover {
  cursor: text;
}
