<div class="popover" tabindex="-1" ng-show="content" style="height:560px;overflow:scroll">
  <i class="fa fa-times-circle pull-right" aria-hidden="true" ng-click="$hide()"></i>
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>



  <div class="popover-content">
  <p>First Level Header</p><code>Using a First Level header<br>
    ==========================</code>
  <hr><p>Second Level Header</p><code>Using a Second  Level header<br>
    ---------------------------
  </code><hr><p>Paragraphs</p><code>Add two new lines to start a new paragraph.</code>
 <hr><p>Emphasis</p><code>*This text will be italic*<br>
 _This will also be italic_<br>
 **This text will be bold**<br>
__This will also be bold__<br>
 *You **can** combine them*</code>
 <hr><p>Lists</p>
 <code>List Items:<br><br>- First item<br>- Second Item<br>- *Optional:* Third Item</code><hr>
 <p>Links</p><code>https://www.google.co.in - automatic! [Google](https://www.google.co.in)</code>
 <hr><p>Images</p><code>![Limber Logo](/images/logo.png) Format: ![Alt Text](url)</code>
 </div>
</div>
</div>
