<!-- Release Chart Modal window display -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click ="closeGraph()">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
  </div>

  <div class="modal-body">
    <div ng-include="template"></div>
  </div><!-- modal body End -->

  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-success" data-dismiss="modal" ng-click ="closeGraph()">Ok</button> -->
  </div>
  <!-- Graph Stuff End -->
