<div ng-init="getSprints()">
  <div class="container">
    <div class="row topRow">
    <h3 class="col-sm-11">{{sprint.name}}<small> {{sprint.description}}</small></h3>
  </div>
    <div class="row">
       {{sprint.startDate|dateSuffix}}  - {{sprint.endDate |dateSuffix}}
    </div>
  </div>
  <div class="sprintDiv" ng-style="{width: sprintWidth}">
    <div class='parent backbug'>

      <div class="showAdd" ng-hide="addToBacklog" ng-click="addToBacklog = true; gotoTop('backlogs')">
        <i class="fa fa-plus" aria-hidden="true"></i><!-- Add Story... -->
      </div>
      <div class="listHead">
        {{backBug.backlogs.listName}}
      </div>
      <div  class="parentInner" id="backlogs" data-drop="true" jqyoui-droppable="{multiple:true,onOver: 'overCallback',onOut: 'outCallback',onDrop:'dropCallback_backbug'}">
        <form class="showAddDetails" ng-show="addToBacklog" ng-blur="hideBacklogAddDetails()">
          <textarea name="details" class="form-control" placeholder="Story details" ng-model="storyDetails" />
          <div class="col-sm-4">
            <button ng-click="addStory(backBug.backlogs.listName, storyDetails,backBug.backlogs.listName); addToBacklog = false" type="button" class="btn btn-success">Add</button>
          </div>
          <div class="col-sm-4">
            <button ng-click="addToBacklog = false" type="button" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
        </form>
        <div id="{{story._id}}" ng-repeat="story in backBug.backlogs.stories" class="child hideSlide" ng-class="{'showSlide':hovering,'hideSlide':!hovering} " ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-click="showModal(story._id, 'backBug')"  data-drag="true"
              data-jqyoui-options="{revert: 'invalid',helper:'clone'}" jqyoui-draggable="{index: {{$index}},onStart:'startCallback(item, $index)',onStop:'stopCallback(item,$index)'}">
          <div class="story_Name">
            {{story.heading}}
          </div>
          <div class="deleteStory">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>

          <div class="storyAttributes">
            <span ng-hide = "story.indicators.descriptionStatus"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
            <span ng-hide = "story.indicators.checklistGroupCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.checklistGroupCount}}</span>
            <span ng-hide = "story.indicators.attachmentsCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.attachmentsCount}}</span>
            <span ng-hide = "story.indicators.commentCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.commentCount}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- List -->
    <div id="{{listItem._id}}" ng-repeat="listItem in sprint.list" ng-model="listItem.stories" ng-class='listItem.group' data-drop="true" jqyoui-droppable="{multiple:true,onOver: 'overCallback',onOut: 'outCallback',onDrop:'dropCallback'}" class='parent' scroll-to-top="clicked">
    <div class='crossBtn'>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </div>
    <div class='showAdd' ng-class="{'showAddIcon':!clicked,'hideAdd':clicked}" ng-click="clicked=true; gotoTop('list')">
      <i class="fa fa-plus" aria-hidden="true"></i><!-- Add Story... -->
    </div>
      <div class="listHead">
        {{listItem.listName}}
      </div>
      <div class="parentInner" id="list">
        <form class="showAddDetails" ng-class="{'showAddIcon':clicked,'hideAdd':!clicked}" >
          <textarea name="details" class="form-control" placeholder="Story details" ng-model="storyDetails" />
          <div class="col-sm-4">
            <button ng-click="addStory(listItem.group, storyDetails, listItem._id, listItem.listName)?clicked=false:clicked=true"  type="button" class="btn btn-success">Add</button>
          </div>
          <div class="col-sm-4">
            <button ng-click="clicked=false" type="button" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
        </form>
        <div id="{{story._id}}" ng-repeat="story in listItem.stories" ng-model="listItem.stories" class="child" ng-class="{'showSlide':hovering,'hideSlide':!hovering} " ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" data-drag="true" data-jqyoui-options="{revert: 'invalid',helper:'clone'}"
          jqyoui-draggable="{index: {{$index}},onStart:'startCallback(item, $index)',onStop:'stopCallback(item,$index)'}" ng-click="showModal(story._id, listItem.group)">
          <div class="story_Name">
            {{story.heading}}
          </div>
          <div class="deleteStory">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="storyAttributes">
            <span ng-show = "story.indicators.descriptionStatus"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
            <span ng-show = "story.indicators.checklistGroupCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.checklistGroupCount}}</span>
            <span ng-show = "story.indicators.attachmentsCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.attachmentsCount}}</span>
            <span ng-show = "story.indicators.commentCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.commentCount}}</span>
          </div>
        </div>
      </div>
      <!-- <i class="crossBtn fa fa-times-circle"></i> -->

    </div>

    <div class='parent backbug'>
    <div class="showAdd" ng-hide="addToBuglist" ng-click="addToBuglist = true; gotoTop('buglists')">
      <i class="fa fa-plus" aria-hidden="true"></i><!-- Add Story... -->
    </div>
      <div class="listHead">
        {{backBug.buglist.listName}}
      </div>
      <div class="parentInner" id = "buglists">
        <form class="showAddDetails" ng-show="addToBuglist">
          <textarea name="details" class="form-control" placeholder="Story details" ng-model="storyDetails" />
          <div class="col-sm-4">
            <button ng-click="addStory(backBug.buglist.listName, storyDetails,backBug.buglist.listName);addToBuglist = false" type="button" class="btn btn-success">Add</button>
          </div>
          <div class="col-sm-4">
            <button ng-click="addToBuglist = false" type="button" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
        </form>
        <div ng-repeat="story in backBug.buglist.stories" class="child" ng-class="{'showSlide':hovering,'hideSlide':!hovering} " ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-click="showModal(story._id, 'backBug')">
          <div class="story_Name">
            {{story.heading}}
          </div>
          <div class="deleteStory">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="storyAttributes">
            <span ng-hide = "story.indicators.descriptionStatus"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
            <span ng-hide = "story.indicators.checklistGroupCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.checklistGroupCount}}</span>
            <span ng-hide = "story.indicators.attachmentsCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.attachmentsCount}}</span>
            <span ng-hide = "story.indicators.commentCount != 0"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{story.indicators.commentCount}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div ng-include="'components/activity/menu.view.html'"></div>
