body{
  #background: #332200;
  #background: #4d3300;
  background: black;
}

.wrap{
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  box-shadow: 0px -2px 2px #d9d9d9,
  0px -3px 3px #b3b3b3;
  background: white;
}

.wrap h1{
  font-style: oblique;
  #background: yellow;
  color: #cccccc;
  font-size: 40px;
  #text-align: right;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: -4px -1px 1px #333333,
  -5px -2px 2px #808080;
  #-7px -3px 3px #d9d9d9;
}

.header{
  position: relative;
  width: 100%;
  top: 0;
  z-index: 10000;
  #background: red

}
.header li{
  display: inline;
}
.class_logo{
  background:url(../img/downloaded/logo3.jpg) no-repeat;
  #background: #4d4d4d;
  width: 65px;
  height: 76px;
  position: absolute;
  left:-38px;
  top: 2px;
  box-shadow: -5px -1px 1px #333333,
  -6px -2px 2px #808080,
  -7px -3px 3px #d9d9d9,
  5px 4px 1px #333333,
  6px 6px 2px #808080,
  7px 5px 3px #d9d9d9;
}


.news, .blog{
  #background: #ffffec;
  background: #f8f4b9;
}
  .blog{

  box-sizing: border-box;
  border-left: 10px solid white;
}
.blog_img{
  margin:10px 3px;
  width: 100%;
}
.news_img{
  #border-radius: 25px;
}
.blog section{
  #  border: 1px solid #4c4c33;
  margin-top: 10px;


}
header nav{
  margin-bottom: 41px;
  float: right;
  margin-right:40px;
}

.hero_element{
  background: url(../img/downloaded/Nokia.jpg) no-repeat;
  height: 659px;
  width: 940px;
  color: black;


}

.hero_element_1{
  float: left;
  margin-top: 100px;
  margin-left: 200px;
  color: grey;
  font-size: 30px;

}
.hero_element_2{
  float: right;
  margin-top: 490px;
  text-align: right;
}

.read_more {
text-align: right;
}
.news a{
  text-decoration: none;
  color: black;
}
.news h3, .blog h3{
    #background: #ffffcc;
    background: #efe45c;
}
.news div{
  margin-top: 10px;
}
.read_more h5{
  margin: 5px 10px;
}
